body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.popular-service img{
  height: 400px;
  transform: translateY(-130px);
}
.sidebar{
  background-image: linear-gradient(40deg, #2F569C,#5A81B5);
  position: fixed;
}
.sidebar li{
  margin-bottom: 2em;
}
.sidebar li:hover span{
  display: inline-block;
  transform: translate(5px);
}
.sidebar svg{
  margin-right: 5px;
}
